
html,body{
    padding:0px;
    margin: 0px;
    font-size: 12px;
    font-family:Helvetica;
    background-color: rgb(222, 219, 219);
}

nav{
    display: flex;
    background-color: rgb(174, 52, 41);
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    color: black;
    text-decoration: none;
}

nav li a:hover{
    color:white;
}

.main_section{
    padding: 15px;
    text-align: center;
}

.products{
    height: 25px;
    padding: 15%;
    display: flex;
}

.product{
    padding: 90px;
    margin-top: -180px;
}

.product .content{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 1px rgb(71, 67, 67);

}

.image_content{
    text-align: center;
}

.main_button{
    background-color:rgb(139, 51, 27);
    width: 100%;
    padding: 10px;
    font-size: 12px;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover{
    background-color:rgb(206, 73, 36);
}